<ion-header>

  <ion-navbar>
    <ion-title *ngIf="ticket_type == 'free'">Free Tickets</ion-title>
    <ion-title *ngIf="ticket_type == 'myTickets'">My Tickets</ion-title>
    <ion-title *ngIf="ticket_type == 'paymentSetting'">Payment Setting</ion-title>
    <ion-title *ngIf="ticket_type == 'ticketsCart'">Ticket Cart</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <app-loading *ngIf="displayLoading"></app-loading>

  <ion-grid class="grid-wrapper" *ngIf="!displayLoading">
    <ion-row *ngIf="Tickets?.length > 0">
      <event-card [type]="ticket_type" [event]="ticket" *ngFor="let ticket of Tickets"></event-card>
    </ion-row>
    <app-no-result-found *ngIf="Tickets?.length == 0"></app-no-result-found>
  </ion-grid>

</ion-content>