<ion-header>

  <ion-navbar>
    <ion-title>wishing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <app-loading *ngIf="displayLoading"></app-loading>
  <ion-grid class="grid-wrapper" *ngIf="!displayLoading">
    <ion-row *ngFor="let cat of events">
      <ion-col col-1 align-self-center>
        <img src="assets/imgs/seo-performance-marketing-graphic.svg" class="header-icon">
      </ion-col>
      <ion-col col-11>
        <div class="header">{{cat.name}}</div>
      </ion-col>
      <ion-col col-12 no-padding *ngFor="let event of cat?.events">
        <event-card [type]="type" [event]="event"></event-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>