<ion-header>

  <ion-navbar>
    <ion-title>{{eventDetails?.title}}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="goToOrgnaizer()">
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row *ngIf="displayLoading">
    <ion-col text-center>
      <br/>
      <ion-spinner></ion-spinner>
      <p color="gray">جاري التحميل</p>
    </ion-col>
  </ion-row>


  <ion-grid no-padding class="details-grid" *ngIf="!displayLoading">
    <ion-row>
      <img src="assets/imgs/event.jpg" class="event-img">
    </ion-row>
    <ion-row>
      <h6 class="event-desc" [innerHTML]="adjustSringStyle(eventDetails?.description)"></h6>
    </ion-row>


    <ion-row>
      <ion-col col-12>
        <h2 class="orginzer-name">By organizer name</h2>
      </ion-col>

      <ion-col col-12>
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/cal-icon.svg" class="icon-img">
          </ion-col>
          <ion-col col-9>
            <div>{{genralService.formatData(eventDetails?.start_date , 0)}}</div>
            <div>{{genralService.formatData(eventDetails?.start_date , 1)}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="marginTop" (click)="openMap()">
          <ion-col col-3>
            <img src="assets/imgs/location-pin.svg" class="icon-img">
          </ion-col>
          <ion-col col-9>
            <div>{{eventDetails?.venue}}</div>
            <div>{{eventDetails?.address}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="marginTop">
          <ion-col col-3>
            <img src="assets/imgs/money.svg" class="icon-img">
          </ion-col>
          <ion-col col-9>
            <div>${{eventDetails?.price}}</div>
            <div>Om ticket</div>
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>

    <h2 class="about">About</h2>
    <h6 class="event-desc custom-about">
      Details about event Details about event Details about event Details about event Details about event Details about event
    </h6>
  </ion-grid>
</ion-content>

<ion-footer >
  <ion-row  class="ticket-row">
    <ion-col col-6>
      <button class="ticket-btn" ion-button round color-primary (click)="eventTickets()">Tickets</button>
    </ion-col>

    <ion-col col-6>
      <div class="icon-wrapper">
          <img src="assets/imgs/like.svg" *ngIf="eventDetails?.liked == '0' " class="footer-icon" (click)="Like(eventDetails.id)">
        <img src="assets/imgs/thumbs-up-hand-symbol.svg" *ngIf="eventDetails?.liked == '1' " class="footer-icon" (click)="unLike(eventDetails.id)">
        <img src="assets/imgs/heart.svg" *ngIf="eventDetails?.wishing == '0' " class="footer-icon" (click)="Wish(eventDetails.id)">
        <img src="assets/imgs/active-heart.svg" *ngIf="eventDetails?.wishing == '1' " class="footer-icon" (click)="unWish(eventDetails.id)">
      </div>
    </ion-col>
  </ion-row>
</ion-footer>