page-home {
   
   


   .swiper-pagination-bullet-active{
     background: #f2f2f2;
   }
   ion-slides{
    height: 155px;
   }
   .swiper-pagination-bullet{
       opacity: 1;
       background:white;
   }

   .fab-ios{
    background-color: #6093bc;
   }



}
