<ion-header>

  <ion-navbar>
    <ion-title>home</ion-title>

    <ion-buttons start>
      <button ion-button icon-only menuToggle tappable class="cancel">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <navatigation-buttons class="noti"></navatigation-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-slides pager=true>
        <ion-slide>
          <img src="assets/imgs/event1.jpg" class="slide-img">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/event2.jpg" class="slide-img">
        </ion-slide>
        <ion-slide>
          <img src="assets/imgs/event2.jpg" class="slide-img">
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

  <app-loading *ngIf="displayLoading"></app-loading>
  <ion-grid class="grid-wrapper" *ngIf="!displayLoading">
    <ion-row *ngIf="events?.data.length > 0">
      <event-card [type]="type" [event]="event" *ngFor="let event of events?.data" (likeOutput)="Like($event)" (eventDetailsOutput)="goToDetails($event)"></event-card>
    </ion-row>
    <app-no-result-found *ngIf="events?.data.length == 0"></app-no-result-found>
  </ion-grid>


  <ion-fab bottom right>
    <button ion-fab (click)="editFavoriate()">
      <ion-icon name="md-create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>