event-organizer {
    .org-name{
        margin-top: 0;
        color: red;
    }
    .custom-org-img{
        margin-top: 0.6rem;
    }
    .following{
        height: 33px;
        margin-top: 1rem;
        background: #00c3ff;
    }
}
