<ion-header>

  <ion-navbar>
    <ion-title>offers</ion-title>
    <ion-buttons start>
      <button ion-button icon-only menuToggle tappable class="cancel">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <navatigation-buttons class="noti"></navatigation-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid>
    <app-loading *ngIf="displayLoading"></app-loading>
    <ion-row *ngIf="!displayLoading">
      <ion-col col-6 class="offer-col" *ngFor="let offer of Offers" (click)="goToEvent(offer.event_id)">
        <div class="offer-wrapper">
          <div id="burst-12">
            <div class="old-price">${{offer.price}}</div>
            <div class="price">${{offer.offer_price}}</div>
          </div>
          <img src="assets/imgs/event.jpg" class="offer-img">
          <ion-row class="heart-wrapper">
            <ion-col col-13 no-padding>
              <h2 class="event-title">{{offer.event_title}}</h2>
              <div>
                <img src="assets/imgs/calendar.svg" class="calender">
              </div>

              <div class="start-date">
                {{formatData(offer.start_date , 0)}} - {{formatData(offer.start_date , 1)}}
              </div>
            </ion-col>
            <img src="assets/imgs/heart.svg" class="heart-img">
          </ion-row>
        </div>
      </ion-col>
      <ion-col col-6></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>