page-offers {
    .event-title{
        color: red;
        font-size: 1.6rem;
        margin-top: 0;
    }
    .calender{
        width: 16%;
    }
    .heart-img{
        width: 63%;
        float: right;
        margin-right: 0.8rem;
        margin-top: 1rem;
    }
    .start-date{
        display: inline-block;
        font-size: 1rem;
        position: absolute;
        top: 63%;
        left: 22%;
        color: gray;
    }
    .offer-col{
        position: relative;
        &::before{
            content: '';
            width: calc(100% - 8px);
            height: 100%;
            position: absolute;
            top: 0;
            left: 4px;
            border: 1px solid #bbb8b8;
        }
        .offer-wrapper{
            margin: 3px;
        }
        margin-bottom: 1rem;
    }
}
