page-intro {
    .toolbar-background-ios{
        background: none;
    }
    .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios{
        border-style: none;
    }
    .map-marker{
        margin: auto;
        max-height: 145px;
        margin-top: 2rem;
        width: 60%;
    }
    .select-town , .select-city{
        margin: auto;
        margin-bottom: 2rem;
        width: 90%;
        border: 1px solid #cb1f1f;
        max-width: 100%;
        margin-top: 1rem;
    }
    .location-marker{
        width: 20%;
        height: 40px;
    }
    .your-location-txt{
        font-size: 1.8rem;
        margin-top: 1rem;
    }
    .next-btn{
        width: 100%;
        margin-top: 3rem;
    }
    .ion-ios-arrow-back:before{
        color: gray
    }
    .item-cover{
        left: inherit;
        top: inherit;
        position: relative;
        width: auto;
        height: inherit;
        background: transparent;
    }
    
}
