<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button class="asd" ion-button (click)="nextStep()">
        skip
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <h2>Where Do You</h2>
      </ion-col>
      <ion-col col-12>
        <h2>Want to Go ?</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <img src="assets/imgs/location.png" class="map-marker">
    </ion-row>

    <ion-row>
      <ion-select [(ngModel)]="data.country" placeholder="Choose Country" (ionChange)="getCities(data.country)" class="select-town">
        <ion-option value={{country.id}} *ngFor="let country of Countries">{{country.name}}</ion-option>
      </ion-select>
    </ion-row>

    <ion-row>
      <ion-select [(ngModel)]="data.city" placeholder="Choose City" class="select-city">
        <ion-option value={{city.id}} *ngFor="let city of Cities">{{city.name}}</ion-option>
      </ion-select>
    </ion-row>

    <ion-row (click)="getUserLocation()">
      <img src="assets/imgs/location-marker.svg" class="location-marker">
      <div class="your-location-txt">Use Your Location</div>
    </ion-row>

    <ion-row>
      <button class="next-btn" (click)="nextStep()" ion-button color="secondary">Next</button>
    </ion-row>
  </ion-grid>
</ion-content>