<ion-row justify-content-center>
  <ion-col col-3 no-padding (click)="goToLikePage()">
    <div class="footer-icon-wrapper">
      <img src="assets/imgs/like.svg" class="footer-icon">
      <div class="footer-txt">Like</div>
    </div>
  </ion-col>

  <ion-col col-3 no-padding>
    <div class="footer-icon-wrapper">
      <img src="assets/imgs/like.svg" class="footer-icon">
      <div class="footer-txt">Like</div>
    </div>
  </ion-col>

  <ion-col col-3 no-padding>
    <div class="footer-icon-wrapper">
      <img src="assets/imgs/like.svg" class="footer-icon">
      <div class="footer-txt">Like</div>
    </div>
  </ion-col>
  <ion-col col-3 no-padding>
    <div class="footer-icon-wrapper">
      <img src="assets/imgs/like.svg" class="footer-icon">
      <div class="footer-txt">Like</div>
    </div>
  </ion-col>
</ion-row>