<ion-row class="event-wrapper">
  <ion-col col-4 class="event-img-col" (click)="goToEvent()">
    <img src="assets/imgs/event.jpg" class="event-img">
  </ion-col>
  <ion-col col-8>


    <h2 class="event-title" (click)="goToEvent()">{{ getEventTitle(event)}}</h2>
    <h6 class="ticket-type blue" *ngIf="type =='ticketsCart'">Ticket Type</h6>
    <h6 class="dollar" *ngIf="type =='ticketsCart'">$70</h6>

    <app-event-description [event]="event"></app-event-description>
    
    <ion-row no-padding class="calender-heart-wrapper" [style.margin-top.rem]="type === 'free' ? '1,5' : '0.5'">
      <ion-col col-8 no-padding align-self-end>
        <img src="assets/imgs/calendar.svg" class="calender">
        <div class="start-date" [class.customLeft]="type == 'ticketsCart'" *ngIf="type != 'free'">{{genralService.formatData(event.start_date , 0)}} - {{genralService.formatData(event.start_date , 1)}}</div>
        <div class="start-date" *ngIf="type == 'free'">{{genralService.formatData(event.date , 0)}} - {{genralService.formatData(event.date , 1)}}</div>
      </ion-col>
      <ion-col col-4 no-padding align-self-end>
        <app-tickets-count *ngIf="type == 'myTickets' "></app-tickets-count>
        <button ion-button round color="danger" *ngIf="type =='ticketsCart'" class="pay-btn">Pay</button>
        <app-wishing-btns [event]="event"></app-wishing-btns>
      </ion-col>
    </ion-row>

  </ion-col>
</ion-row>