<!--
  Generated template for the ChooseFavoriteCategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons end>
      <button ion-button class="asd">
        skip
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <app-loading *ngIf="displayLoading"></app-loading>
  <ion-grid *ngIf="!displayLoading">
    <ion-row>
      <div class="cat-header">Categories</div>
    </ion-row>
    
    <ion-row class="cat-imgs-wrapper">
      <ion-col col-6 class="marginBottom" *ngFor="let cat of Cats">
        <img src="assets/imgs/community.svg" class="cat-img">
        <ion-checkbox [(ngModel)]="cat.checked" (ionChange)="onChange(cat.id, $event.checked)"></ion-checkbox>        
        <span class="cat-title">{{cat.name}}</span>
      </ion-col>
      <!-- <ion-col col-6 class="marginBottom">
        <img src="assets/imgs/art.svg" class="cat-img">
        <ion-checkbox [(ngModel)]="cats.art"></ion-checkbox>  
        <span class="cat-title">Art</span>
      </ion-col>
      <ion-col col-6 class="marginBottom">
        <img src="assets/imgs/software.svg" class="cat-img">
        <ion-checkbox [(ngModel)]="cats.softtware"></ion-checkbox>  
        <span class="cat-title">software</span>
      </ion-col>
      <ion-col col-6 class="marginBottom">
        <img src="assets/imgs/science.svg" class="cat-img">
        <ion-checkbox [(ngModel)]="cats.science"></ion-checkbox>  
        <span class="cat-title">Science</span>
      </ion-col>
      <ion-col col-6 class="marginBottom">
        <img src="assets/imgs/community.svg" class="cat-img">
        <ion-checkbox [(ngModel)]="cats.community"></ion-checkbox>  
        <span class="cat-title">Community</span>
      </ion-col>
      <ion-col col-6 class="marginBottom">
        <img src="assets/imgs/music.svg" class="cat-img">
        <ion-checkbox [(ngModel)]="cats.music"></ion-checkbox>  
        <span class="cat-title">Music</span>
      </ion-col> -->
    </ion-row>

    <ion-row>
      <ion-col col-6>
       <button ion-button color="secondary" class="my-btn" tappable (click)="home()">Next</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button color="danger" class="my-btn" tappable (click)="selectAll()">Select All</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>