<ion-header>

  <ion-navbar>
    <ion-title>Verification</ion-title>
    <ion-buttons end>
      <button class="asd" ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>E-mail</ion-label>
      <ion-input type="text" [(ngModel)]="data.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Verification code</ion-label>
      <ion-input type="text" [(ngModel)]="data.code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>New Password</ion-label>
      <ion-input type="text" [(ngModel)]="data.password"></ion-input>
    </ion-item>
  </ion-list>

  <div padding>
    <button ion-button block (click)="setNewPAssword()">
      <span *ngIf="!isWaiting">Send E-mail</span>
      <app-loading-btn *ngIf="isWaiting"></app-loading-btn>
    </button>
  </div>
</ion-content>