page-forget-password-verification {
    .content{
        background-color: white;
    }
    .list > .item-block:first-child{
        border-top : 0
    }
    .ion-ios-close:before{
        content: "\f406";
        color: white;
        font-size: 3.3rem;
    }
}
